{
  "presets": [
    ["env", {
      "modules": false
     }]
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
