/*==================
  article
===================*/

main {
  width: 1000px;
  margin: 0 auto;

  & article {
    margin-bottom: 50px;
    padding: 10px $article-padding;
    background: $article-bg;
    color: $article-font-color;

    line-height: $line-height;
    @include my-border-radius(1em);

    & a {
      text-decoration: none;
      color: $color-base;

      &:hover {
        color: $article-font-color;
      }
    }
  }
}


/*==================
  article-meta
===================*/

main .article-meta {
  padding-top: .5em;
  float: right;

  & span {
    margin: .5em;
  }

  & .article-time small {
    padding-left: .5em;
  }

  & .article-author a {
    font-weight: bold;
    padding: .5em;
  }
}


/*==================
  article-inner
===================*/
main .article-inner {
  //padding-top: 1em;
}


/*==================
  article-header
===================*/
main .article-header {
  & .article-title a {
    color: $article-font-color;
    &:hover {
      color: $color-base;
    }
  }
}



/*==================
  article-footer
===================*/

main .article-footer {
  & > span {
    margin: .5em;

    & a {
      padding: .3em;
    }
  }
}


/*==================
  article-page-nav
===================*/
main .page-nav {
  margin: 50px 0;
  text-align: center;

  & .prev, & .next {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: $color-base;
    margin: 0 2em;

    position: relative;
  }

  & a {
    @include center;
  }
}
