footer.app-footer {
  height: 100px;
  background: $color-base;
  font-size: 1.4rem;

  .footer-info {
    margin: 2rem 2rem;
  }

  a {
    color: lighten($color-anchor, 15%)
  }

  .pulse-heart {
    margin-left: .5rem;
    @include animation(pulse 5s infinite);
    color: #e8111c;
  }
}

@include keyframes(pulse) {
  0%, 100% {
    @include transform(scale(.6));
  }
  20%, 76% {
    @include transform(scale(.8));
  }
}

// sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1
}
