//color
//$color-base: #3c948b;
$color-base: #46b980;
$color-border: #ddd;
$color-background:   #eee;
$color-anchor: #000;

//font
// 没有衬线，在屏幕上更容易识别
$font-sans: 'Source Han Sans', 'Microsoft YaHei', Helvetica, Arial, sans-serif;

// 有衬线，即是字母末尾有小细线，通常用于新闻报纸
$font-serif: Georgia, "Times New Roman", serif;

// 等宽的字符，也就是水平方向的宽度是相同的，常用于代码实例
$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, monospace;

$font-size: 14px;
$line-height: 1.6em;


// banner
$color-banner: $color-base;
$avantar-width: 100px;
$avantar-height: 100px;


// anticle
$article-font-color: #444;
$article-padding: 20px;
$article-bg: #fff;


// breakpoint
$tablet: 768px;
$desktop: 1024px;
