//color
$color-border: #ddd;
$color-background: #eee;


//layout
$article-padding: 20px;


//font
$font-size: 14px;
$font-mono: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
$line-height: 1.6em;
