//- Created by drake on 6/5/15.

footer.app-footer
  .footer-info
    p
      | Proudly powered by #[a(href='https://hexo.io') hexo]
      i.pulse-heart.fa.fa-heart

    p.
      &copy; !{date(new Date(), 'YYYY')} |

      Theme #[a(href=theme.theme_url)= theme.theme_name]

      designed by #[a(href=theme.author_url)= theme.author]


