header(role='banner')
  h1.title= config.subtitle

  .about-me
    img(src='images/about.png')
    h3.author= config.author

    ul.social-list
      li
        a.fa.fa-lg.fa-github(href="#")
      li
        a.fa.fa-lg.fa-weibo(href="#")
      li
        a.fa.fa-lg.fa-rss(href="#")


