.skills {
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding-top: 1rem;
    width: 50%;
    padding-right: 1rem;

    display: flex;
    justify-content: space-between;

    span {
      display: inline-block;
      margin-top: -3px;
    }
  }

  h3 {
    margin-bottom: .8rem;
  }

  progress[value] {
    -webkit-appearance: none;
    appearance: none;
  }

  progress[value]::-webkit-progress-value {
    background-color: $primary-green;
  }

  progress[value]::-webkit-progress-bar {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) inset;
  }
}
