*:not(img) {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
  color: #41464b;
  background: #fafafa;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fff;
}