* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Source Han Sans", "Microsoft YaHei", Helvetica, Arial, sans-serif;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $primary-green;
}
