@mixin center($xy: xy) {
  position: absolute;

  @if $xy == xy {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translateY(-50%) translateX(-50%);
  }
}

@mixin my-border-radius($args: 50%) {
  @include border-bottom-radius($args);
  @include border-top-radius($args);
  @include border-left-radius($args);
  @include border-right-radius($args);
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet}) {
    @content;
  }
}