// article footer
//- such as category, tags, comment, share...

footer.article-footer

  span.article.category.fa.fa-folder
    +category(post.categories)

  span.article-tag.fa.fa-tags
    +tag(post.tags)

  if index
    span.article-comment-count.fa.fa-comments
      a(
        href=post.path
        data-disqus-identifier=post.path
        class='disqus-comment-count'
      ) Comments

  else
    include article-comment
