// article meta
//- such as, article date, author...

section.article-meta
  span.article-time.fa.fa-calendar
    small= date(post.date)

  span.article-author by
    a(href='#')= post.author? post.author: '???'
