//  the <head> tag of the HTML page
//  used to import stylesheet and font...

head
  meta(charset='utf-8')
  link(rel='stylesheet', href=url_for('styles/main.css'))
  //link(rel='stylesheet', href='http://fonts.useso.com/css?family=Source+Code+Pro')
  title Welcome :)