//
   Created by drake on 6/2/15.

doctype html
html(lang='en')
  head
    link(rel='stylesheet', href=config.root + 'styles/main.css')
    title Hello world

  body
    include _partial/header
    include _partial/article


    script(src='scripts/app.js')
