//
   Created by drake on 6/2/15.

doctype html
html(lang='en')
  include _partial/html_head

  body
    include _partial/header
    include _partial/archive

    include _partial/footer
    script(src='scripts/app.js')
