doctype html
html
  include _partial/document-thing/html_head

  body.container
    include _partial/header

    main
      != body

    include _partial/footer

    //- include _widget/back-to-top

    include _partial/document-thing/html-footer
