doctype html
html
  include _partial/document-thing/html_head

  body
    include _partial/header

    main
      != body

    include _partial/footer

    include _partial/document-thing/html-footer
