main {
  width: 70%;

  @include phone {
    width: 90%;
  }
  @include tablet {
    width: 80%;
  }

  margin: 0 auto;

  article {
    margin-bottom: 50px;
    padding: 10px $article-padding;
    // background: $article-bg;
    color: $article-font-color;

    line-height: $line-height;
    @include my-border-radius(1em);

    a {
      text-decoration: none;
      color: $color-base;

      &:hover {
        color: $article-font-color;
      }
    }

    img {
      max-width: 100%;
    }
  }
}
