main .article-inner {
  //padding-top: 1em;
  .article-entry {
    margin-top: 5rem;

    blockquote {
      color: #777;
      padding: 0 3px;
      @include  desktop {
        padding: 0 1.5rem;
      }
      border-left: 4px solid #ddd;
    }
  }
}
