main .article-meta {
  padding-top: .5em;

  @include desktop {
    float: right;
  };

  & span {
    margin: .5em;
  }

  & .article-time small {
    padding-left: .5em;
  }

  & .article-author a {
    font-weight: bold;
    padding: .5em;
  }
}
